useDynLib(msBP)
import(stats)
import(utils)
import(DPpackage)
importFrom("grDevices", "gray.colors")
importFrom("graphics", "axis", "plot", "points", "segments", "text")
export(msBP.compute.prob)
export(msBP.pdf)
export(msBP.cdf)
export(msBP.leaf.allocation)
export(msBP.Gibbs)
export(msBP.test)
export(msBP.rsample)
export(msBP.rtree)
export(msBP.tree)
export(msBP.marginalBeta)
export(msBP.nrvTrees)
export(msBP.posteriorH0)
export(msBP.postCluster)
export(msBP.nesting)
export(tree2vec)
export(vec2tree)
S3method(plot, binaryTree)
S3method(summary, binaryTree)
